<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta id="reactView" name="reactView" content="<%= view %>" />
    <title>Atlassian Webview</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/devhtml/vscode-<%= theme %>.css" />
</head>

<body class="vscode-<%= theme %>">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>

</body>

</html>